<table class="table table-bordered table-condensed">
	<thead class="table-bw">
		<tr>
			<th>URL</th>
			<th>isValid</th>
			<th>isBusiness</th>
			<th></th>
			<th>Info1</th>
		</tr>
	</thead>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>