<div class="hero-unit">
  <h1>Andre Web Crawling with Keywords</h1>
  <p>Crawling the web for business websites.</p>
  <h2>System Info: </h2>
  <ul>
  	<li>Ruby Version: <%= RUBY_VERSION %></li>
  	<li>Ruby on Rails Version: <%= Rails::VERSION::STRING %></li>
  	<li>Enviroment: <%= Rails.env %></li>
  </ul>
</div>