<div id="sidebar" class="span2">
   <ul class="nav nav-list">
     <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Single Web Crawl", single_path %></li>
      <li><%= link_to "File upload Web Crawl", multi_path %></li>
   </ul>
</div>